*{
    font-size: 1.5em;
    line-height: 2em;
    font-family: Verdana, Arial, sans-serif;
    background-color: lightgrey;
    text-align: justify;
    text-indent: 60px;
}

em{
    font-style: italic;
}

.especial em{
    font-style: normal;
    font-weight: bold;
}

strong{
    font-weight: bold;
}

.especial strong{

    background-color: #FF6;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 3px;
}

body p:nth-child(1):first-line{
    color: blue;
    background-color: lightblue;
    font-variant: small-caps;
    
}

body p:first-child::first-letter{
    font-size: 2em;
    color: blue;
    font-family: serif;
    
}