body {
    color: grey;
}

/*ESTILO DE CLASES*/

.verdes {
    color: green;
}
.azules {
    color: blue;
}

.segundo li:nth-child(odd){
    font-style: oblique;
}
ul:last-child li:nth-child(2) {
    background-color: aqua;
}
ul:nth-child(2){
    text-shadow: 2px 2px #ff0000;
}


/*Estilo de Atributo*/
 .azules{
    text-decoration: overline;
}

/*El primer elemento*/

ul li:first-child{
    text-align: right
}
/*Añadir comentarios de antes y después del color verde */

.verdes::before{
    content: "Estoy antes del color verde";
}

.verdes::after{
    content: "Estoy tras el color verde";
}