div{
    border:  solid black;
    width: 25%;
    height: 75px;
    
}
h1{
    text-align: center;
}
.espe{
    color: red;
    font-size: 1.5em;
    text-decoration: underline;
    
}

#c1{
    background-color: red;
    position: relative;

}
#c2{
    background-color: blue;
    position: relative;
    top: -50px;
    left: 100px;
    
}

#c3{
    background-color: green;
    position: relative;
    
}
#c4{
    background-color: lightblue;
    position: relative;
    left: 250px;
    top: -200px;
    
}
#c5{
    background-color: lightgreen;
    position: relative;
    right: 50px;
    
}