.espe{
    color: red;
    font-size: 1.5em;
    text-decoration: underline;
    
}

h1{
    text-align: center;
}

span:not(.espe){
    font-size: 2em;
    padding: 20px;
    border:  solid black;
}

#c1{
    background-color: red;
}
#c2{
    background-color: blue;
    position: relative;
    top: 60px;
    right: 100px;
}
#c3{
    background-color: green;
    
}
#c4{
    background-color: yellow; 
    position: relative;
    top: 60px;
    right: 100px;
    
}